global:
  enabled: false
  name: consul-eks
  datacenter: us-west-2
  image: "hashicorp/consul-enterprise:1.12.8-ent"
  imageEnvoy: "envoyproxy/envoy:v1.22.5"
  enableConsulNamespaces: true
  adminPartitions:
    enabled: true
    name: "us-west-2-eks"
  acls:
    manageSystemACLs: true
    bootstrapToken:
      secretName: consul/data/secret/initial_management 
      secretKey: key
    partitionToken:
      secretName: consul/data/secret/partition_token
      secretKey: key
  tls:
    enabled: true
    enableAutoEncrypt: true
    caCert:
      secretName: pki/cert/ca
      secretKey: certificate
  gossipEncryption:
    secretName: consul/data/secret/gossip 
    secretKey: key 
  secretsBackend:
    vault:
      enabled: true
      ca:
        secretName: vault-ca
        secretKey: key
      consulServerRole: consul-eks-server
      consulClientRole: consul-eks-client
      consulCARole: consul-connect-ca
      manageSystemACLsRole: consul-eks-server-acl-init
      adminPartitionsRole: consul-eks-partition-init
      connectCA:
       address: https://sa-vault-lb-85910f315802a31d.elb.us-west-2.amazonaws.com:8200
       rootPKIPath: /connect-root
       intermediatePKIPath: /connect-intermediate
       additionalConfig: |
        {
          "connect": [{
            "ca_config": [{
              "leaf_cert_ttl": "72h",
              "intermediate_cert_ttl": "8760h",
              "rotation_period": "2160h",
              "namespace": "admin"
            }]
          }]
        }

externalServers:
  enabled: true
  hosts:
  - "provider=aws tag_key=sa-consul tag_value=server"
  useSystemRoots: false
  k8sAuthMethodHost: https://E58F64E009E9629CA286F9870F21BA30.gr7.us-west-2.eks.amazonaws.com:443

server:
  enabled: false

client:
  enabled: true
  join: 
  - "provider=aws tag_key=sa-consul tag_value=server"

connectInject:
  transparentProxy:
    defaultEnabled: true
  enabled: true
  default: true

controller:
  enabled: true

ingressGateways:
  enabled: true
  gateways:
    - name: ingress-gateway
      service:
        type: LoadBalancer
        ports:
        - port: 80

dns:
  enabled: true
  enableRedirection: true

