CONSUL_CLUSTER_VERSION="<release-version>"
VAULT_CLUSTER_VERSION="<release-version>"

env_platform_services = {
  name             = "platform_svcs"
  platform         = "ec2"
  peer_to_platsvcs = false
  cidr             = "10.0.0.0/16"
  private_subnets  = ["10.0.1.0/24", "10.0.2.0/24", "10.0.3.0/24"]
  public_subnets   = ["10.0.101.0/24", "10.0.102.0/24", "10.0.103.0/24"]
}

env_app_microservices = {
  name             = "app_svcs"
  platform         = "eks"
  peer_to_platsvcs = true
  cidr             = "10.1.0.0/16"
  private_subnets  = ["10.1.1.0/24", "10.1.2.0/24", "10.1.3.0/24"]
  public_subnets   = ["10.1.101.0/24", "10.1.102.0/24", "10.1.103.0/24"]
}

env_payments = {
  name             = "data_svcs"
  platform         = "ec2"
  peer_to_platsvcs = true
  cidr             = "10.2.0.0/16"
  private_subnets  = ["10.2.1.0/24", "10.2.2.0/24", "10.2.3.0/24"]
  public_subnets   = ["10.2.101.0/24", "10.2.102.0/24", "10.2.103.0/24"]
}